{% extends "layout.html" %}
{% block content %}
<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-text header-text">
          <h6>Données synchronisées avec la ville de Montréal</h6>
          <h2>RECHERCHER LES CONTREVENANTS DE MONTRÉAL</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <form class="search-form d-flex justify-content-between" action="/search" method="post">
          <div class="col-lg-10">
            <input type="text" placeholder="Rechercher par nom, propriétaire ou rue.." name="larecherche">
          </div>
          <div class="col-lg-2">
            <button type="submit">Rechercher</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="recherche-par-date">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="date-heading">
          <h2>Rechercher par date</h2>
          <h6>Veuillez sélectionner les dates</h6>
          <form id="form-date">
            <label for="date-debut">Du :</label>
            <input type="date" id="date-debut" name="date_debut">
            <label for="date-fin">Au :</label>
            <input type="date" id="date-fin" name="date_fin">
            <input type="submit" value="Recherche" id="button-date">
          </form>
          <span id="err-date"></span>
        </div>
      </div>
      <div class="col-lg-12 resultat-date">
        <span id="no-result">Aucun résultat</span>
        <section id="recherche-date">
          <table id="tableau-contrevenants">
            <thead>
              <tr>
                <th>Nom de l'établissement</th>
                <th>Nombre de violations</th>
              </tr>
            </thead>
            <tbody id="champ-nom-etablissement">
            </tbody>
          </table>
        </section>
      </div>
      <div class="date-heading col-lg-12">
        <h2>Rechercher Par Nom</h2>
        <select id="liste-etablissements" onchange="rechercherParListe()">
          <option value="" disabled="disabled" selected="selected">Choisissez un restaurant</option>
        </select>
      </div>
      <div id="information">
      </div>
    </div>
  </div>
</div>
<script src="/js/script.js"></script>
{% endblock %}